:root {
	margin: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

.display-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.App {
	background-color: #f5f5f5;
	height: 100vh;
}

.urna {
	background-color: #f0f0f0;
	border: 1px solid #777;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	width: 800px;
	height: 600px;
}

.urna-inline-border {
	width: calc(100% - 15px);
	height: calc(100% - 15px);
	border: 1px solid #777;
	border-radius: 20px;
}

.horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#screen {
	border: 1px solid #888;
	width: 600px;
	height: 350px;
}

#keys-main {
	background-color: #555;
	border-radius: 10px;
	padding: 5px;
}

$urna-button-height: 40px;

.urna-buttons {
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: $urna-button-height;
	margin: 2px;
	transition: all 0.3s;
}
.urna-buttons:active {
	transform: translateY(1px);
}
.urna-buttons[class~="numbers"] {
	background-color: #222;
	flex-direction: row;
	justify-content: start;
	gap: 10px;
	color: #fff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 28px;
}
.urna-buttons[class~="numbers"] span:nth-of-type(2) {
	color: #555;
	font-size: 22px;
}
.urna-buttons[class~="numbers"]:hover {
	background-color: #111;
}
.urna-buttons[class~="actions"] {
	flex-direction: column;
	font-weight: bold;
}
.urna-buttons[class~="actions"][class~="white"] {
	background-color: #fff;
}
.urna-buttons[class~="actions"][class~="white"]:hover {
	background-color: #eee;
}
.urna-buttons[class~="actions"][class~="white"] span:nth-of-type(1) {
	font-size: 14px;
}
.urna-buttons[class~="actions"][class~="white"] span:nth-of-type(2) {
	color: #bbb;
	font-size: 18px;
}
.urna-buttons[class~="actions"][class~="red"] {
	background-color: #ff5100;
}
.urna-buttons[class~="actions"][class~="red"]:hover {
	background-color: #e04700;
}
.urna-buttons[class~="actions"][class~="red"] span:nth-of-type(1) {
	font-size: 14px;
}
.urna-buttons[class~="actions"][class~="red"] span:nth-of-type(2) {
	color: #ff8b56;
	font-size: 18px;
}
.urna-buttons[class~="actions"][class~="green"] {
	background-color: #4da94f;
	height: 85px;
	justify-content: flex-start;
}
.urna-buttons[class~="actions"][class~="green"]:hover {
	background-color: #418f42;
}
.urna-buttons[class~="actions"][class~="green"] span:nth-of-type(1) {
	font-size: 12px;
	-webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
    transform:scale(1,2); /* W3C */
	margin: 5px;
}
.urna-buttons[class~="actions"][class~="green"] span:nth-of-type(2) {
	color: #68df6a;
	font-size: 18px;
}

.hide-mobile[class~="horizontal"] {
	display: none;
}

@media screen and (max-width: 768px) {
	.hide-mobile {
		display: none;
	}

	.urna {
		height: 500px;
	}

	#screen {
		width: 400px;
		height: 250px;
		max-width: 90vw;
	}
}